

.PriseRDV {
    display: flex;
    flex-direction: column;
}

.PriseRDV-infos {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
}

.input {
    width: 500px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
}

.PriseRDV-jesuismedecin-Container {
    align-self: flex-end;
    justify-content: flex-end;
}

.PriseRDV-jesuismedecin {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.demandeContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
}

.Demande {
    margin-left: 10px;
    border-radius: 10px;
}

.inputClient {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.PriseRDV-valider {
    display: flex;
    align-self: flex-end;
}

.prendreRDV {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}
