body {
    background-image: url(../../../public/Images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Trebuchet MS;
}

.SuiviRDV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oneDemandeInfos {
    display: grid;
    grid-template-columns: 4fr 4fr 2fr 1fr;
    padding: 8px 20px;
    justify-content: space-between;
    width: 800px;
    background: linear-gradient(to right, #196BCA, #6433E0);
    background-color: #196BCA;
    color: white;
    border: 0;
    border-radius: 20px;
    box-shadow: 5px 7px 13px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

.status {
    justify-self: center;
    align-self: center;
}

.oneDemande {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}

.medecinInfos {
    margin-left: 10px;
    font-weight: bold;
    justify-content: start;
}

.dateInfos {
    font-weight: bold;
}

.deleteIcon {
    align-self: center;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.goBackButton {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.customHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}